.element{
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(84,84,84, .7);
  max-width: 70%;
  margin: auto;
  position: relative;
}

.element:first-child{
  border-top: none;
}