.popup__close-button{
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(../../../images/CloseIcon.svg);
    padding: 0;
    background-color: transparent;
    border: none;
    background-size: auto;
    background-position: center;
    cursor: pointer;
    outline: none;
}

.popup__close-button:hover{
    opacity: 0.6;
    transition: opacity .3s;
}


@media (max-width: 470px){
    .popup__close-button{
        margin-right: 0;
        width: 26px;
        height: 26px;
        top: -39px;
        right: 0;
    }
}