.form__field-text{
    width: 358px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    height: 27px;
    padding: 0;
    margin-bottom: 43px;
    outline: none;
}

@media (max-width: 470px){
    .form__field-text{
        font-size: 14px;
        line-height: 17px;
        max-width: 238px;
        margin-bottom: 30px;
    }
}