.element__delete-button{
  background-image: url(../../../images/delete.svg);
  width: 18px;
  padding: 0;
  border: none;
  height: 20px;
  background-color: transparent;
  align-self: center;
}

.element__delete-button:hover{
  cursor: pointer;
  opacity: 0.6;
  transition: opasity 3s;
}