

.beds__list{
    max-width: 880px;
    width: 50%;
}

.beds__list-header{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 22px;
    color: #FFFFFF;
    margin: auto;
    width: 80%;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid rgb(84,84,84, .7);
    margin-bottom: 20px;
}

.beds__wrapper{
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 80%;
    justify-content: space-between;

}

.bed{
    margin: auto;
    margin-bottom: 15px;
    position: relative;
    width: 60%;
}

.bed__title{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color:black;
    
}


.bed__param{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
}

.bed__span{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
}